body {
  font-family: $main-font;
  color: $main-text-color;
  font-size: 12px;

  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $main-text-color;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
ul {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.232);
  border: 0px none;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 107, 1);
}
::-webkit-scrollbar-thumb:active {
  background: rgb(255, 107, 1);
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.044);
  border: 0px none rgba(255, 255, 255, 0.07);
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.388);
}
::-webkit-scrollbar-track:active {
  background: rgba(255, 255, 255, 0.388);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
